<div class="card filters">

  <div class="card-header">
    <strong>Категории</strong>
  </div>

  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Литература</a>
    <a href="#" class="list-group-item list-group-item-action">Детектив</a>
    <a href="#" class="list-group-item list-group-item-action">Комиксы</a>
    <a href="#" class="list-group-item list-group-item-action">Психология</a>
    <a href="#" class="list-group-item list-group-item-action">Медицина</a>
    <a href="#" class="list-group-item list-group-item-action">...</a>
  </div>
</div>
