<div class="card mb-4 shadow-sm">
  <img class="bd-placeholder-img card-img-top p-2" width="100%" [src]="productItem.imageUrl" />
  <div class="card-body">
    <p class="card-text">
      <strong>{{productItem.title}}</strong></p>
    <p class="card-text">
      <strong>{{ productItem.price}} тг</strong>
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()">в корзину</button>
        <button type="button" class="btn btn-sm btn-outline-secondary product-btn">перейти</button>
      </div>
    </div>
  </div>
</div>

