<div *ngIf="cartItems.length === 0" class="alert alert-info">Корзина пуста.</div>

<ul *ngIf="cartItems.length > 0" class="list-group">
  <li class="list-group-item" *ngFor="let item of cartItems">
    <app-cart-item [cartItem]="item"></app-cart-item>
  </li>

  <li class="list-group-item active">
    <p>Добавлено книг: {{itemsCount}}</p>
    <strong>На сумму: {{ cartTotal}} тг </strong>
  </li>
  <a class="btn btn-light" routerLink="cartPage">Перейти в корзину</a>
</ul>
