.book__content{
  background: url("https://peoriaparks.org/wp-content/uploads/2017/12/BookCourt_iStock-690358116-e1515177346323.jpg") no-repeat center;
  background-size: cover; /* растянуть по экрану*/
}
